:root {
    --black: #222323;
    --white: #f0f6f0;
    --orange: #e7502c;
}

body{
    background-color: var(--white);
}

section {
    padding: 40px;
}

p {
    text-align: justify;
}

.button-small {
    line-height: 25px;
    height: 25px;
    padding: 0 5px;
}

.dark {
    background-color: var(--black);
    color: var(--white);
}

.light {
    background-color: var(--white);
    color: var(--black);
}

.center {
    text-align: center;
}

.block {
    display: block;
}

.m-auto {
    margin: auto;
}

.navbar {
    padding: 5px 0 10px 0;
}

.title {
    margin-bottom: -10px;
    font-size: 50px;
    font-variant: small-caps;
    font-weight: 800;
}

.display-table {
    display: table;
}

.itens-center {
    align-items: center;
}

.display-flex {
    display: flex;
}

.sub-tittle {
    text-transform: capitalize;
    font-weight: 400;
}

.intro-img {
    width: 100%;
    border: solid 5px var(--black);
}

.mini-content {
    padding: 5px;
    border: solid 2px var(--black);
    transition: 0.2s;
}

@media screen and (max-width: 550px) {
    .mini-content {
        margin-top: 20px;
    }
}

.mini-content:hover {
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    border: solid 2px var(--white);
}

.mini-content img {
    width: 100%;
    height: 200px;
    outline: solid 2px var(--black);
}
@media (min-width: 550px) {
    .content-row{
        margin-top: 25px;
    }
}

.mini-content img:hover {
    outline: solid 2px var(--white);
}

.mini-content span {
    display: block;
    font-size: 17px;
    font-weight: 500;
}

.redes-sociais>a {
    margin: 0 5px 0 5px;
    text-decoration: none;
    transition: 0.3s;
}

.redes-sociais>a:hover {
    font-size: 20px;
    color: #00C2FF;
}

.clear-link {
    text-decoration: none;
    color: inherit;
}

.clear-link:hover {
    text-decoration: none;
    color: inherit;
}

.image-content {
    margin: auto;
    text-align: center;
    width: 600px;
}

.image-content img {
    display: inline-block;
    width: inherit;
    margin-bottom: -8px;
}

.post-container {
    margin: auto;
}

.code-block {
    display: block;
}

#postCode {
    text-align: left;
    height: 400px;
    font-family: monospace;
    width: 100%;
    border: 2px solid black;
    padding: 5px;
    white-space: pre;
    overflow: auto;
    resize: vertical
}

.tagColor {
    color: lightcoral;
    font-weight: 700;
}

.alert {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: black 2px 2px 2px;
}

.success-alert {
    background-color: #8ED19E;
    color: var(--white);
}

.danger-alert {
    background-color: #d45c5c;
    color: var(--white);
}

.button-perfil {
    color: var(--white);
    font-weight: 800;
    margin: 0 10px 0 0;
}

.access-container {
    text-align: right;
}

.access-container * {
    margin: auto;
}

.profile-hover {
    transition: 0.3s;
    border-radius: 4px;
    border: solid var(--white) 1px;
    padding: 5px 10px;
}

.profile-hover:hover {
    color: var(--black);
    background-color: var(--white);
    border: none;
    border: solid var(--black) 1px;
}
.logout-hover{
    transition: 0.3s;
    border-radius: 4px;
    border: solid var(--orange) 1px;
    padding: 5px 10px;
}
.logout-hover:hover {
    color: var(--white);
    background-color: var(--orange);
    border: none;
    border: solid var(--orange) 1px;
}
.post-content-view{
    padding: 50px 0;
    min-height: calc(100vh - 109px - 180.5px - 100px);
}
main{
    padding: 50px 0;
    min-height: calc(100vh - 109px - 180.5px - 100px);
}
